<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Team6Suite" verbose="1" parallel="classes" thread-count="2">

    <test name="API Tests">
        <classes>
        </classes>
    </test>

    <test name="UI - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.ui.RemittanceConversionTest"/>
            <class name="tests.ui.RemittanceCalculationUnsuccessful"/>
            <class name="tests.ui.RemittanceCalculationEdgeTest"/>
        </classes>
    </test>

    <test name="UI - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.ui.RemittanceConversionTest"/>
            <class name="tests.ui.RemittanceCalculationUnsuccessful"/>
            <class name="tests.ui.RemittanceCalculationEdgeTest"/>
        </classes>
    </test>

    <test name="UI - Webkit">
        <parameter name="browser" value="webkit"/>
        <classes>
            <class name="tests.ui.RemittanceConversionTest"/>
            <class name="tests.ui.RemittanceCalculationUnsuccessful"/>
            <class name="tests.ui.RemittanceCalculationEdgeTest"/>
        </classes>
    </test>

</suite>
