<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Team6Suite" verbose="1">

    <test name="API Tests" parallel="classes" thread-count="2">
        <classes>
        </classes>
    </test>

    <test name="UI Tests" parallel="classes" thread-count="2">
        <classes>
            <class name="tests.ui.RemittanceConversionTest"/>
            <class name="tests.ui.RemittanceCalculationUnsuccessful"/>
            <class name="tests.ui.RemittanceCalculationEdgeTest"/>
        </classes>
    </test>

</suite>
